{% extends "base.html" %}
{% block page_title %}経過表{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>


{% endblock %}
{% block h1 %}経過表{% endblock %}
{% block lead %}今までの健康状態{% endblock %}
{% block content %}
<div class="container mb-3">
    <table id="datatable" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline">
        <thead>
            <tr>
                <th>日付</th>
                <th>体温</th>
                <th>酸素飽和度</th>
                <th>収縮期血圧</th>
                <th>拡張期血圧</th>
                <th>脈拍</th>
                <th>息苦しさ</th>
                <th>胸の痛み</th>
                <th>倦怠感</th>
                <th>悪寒</th>
                <th>咳</th>
                <th>鼻水</th>
                <th>嘔気</th>
                <th>嘔吐</th>
                <th>下痢</th>
                <th>頭痛</th>
                <th>腹痛</th>
                <th>関節痛</th>
                <th>嗅覚異常</th>                    
                <th>味覚異常</th>
                <th>けいれん</th>
                <th>食欲</th>
                <th>食事量</th>
                <th>水分量</th>
                <th>解熱剤の残数</th>
            </tr>
        </thead>
    </table>
</div>
{% endblock %}
{% block extra_js %}


<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>

<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready(function() {
    var oTable = $('#datatable').dataTable({
        "processing": true,
        "serverSide": true,
        "ajax": "{% url 'vital_log:vital_list_ajax' %}" // 上で作成したエンドポイント
    });
    // ...
});
</script>
{% endblock %}