
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>バイタルログ</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!--  datatables css -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"/>
    <header class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand " href="/">経過表</a>
            </div>
        </nav>
    </header>
</head>
<body>
        
    <div class="container" style="padding-top: 10px" >
        <div class="col-xs-12">
            <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>日付</th>
                <th>体温</th>
                <th>酸素飽和度</th>
                <th>収縮期血圧</th>
                <th>拡張期血圧</th>
                <th>脈拍</th>
                <th>息苦しさ</th>
                <th>胸の痛み</th>
                <th>倦怠感</th>
                <th>悪寒</th>
                <th>咳</th>
                <th>鼻水</th>
                <th>嘔気</th>
                <th>嘔吐</th>
                <th>下痢</th>
                <th>頭痛</th>
                <th>腹痛</th>
                <th>関節痛</th>
                <th>嗅覚異常</th>                    
                <th>味覚異常</th>
                <th>けいれん</th>
                <th>食欲</th>
                <th>食事量</th>
                <th>水分量</th>
                <th>解熱剤の残数</th>
            </tr>
        </thead>
    </table>
    </div>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

<!--  datatables js -->
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>


<script>
$(document).ready(function() {
    var oTable = $('#datatable').dataTable({
        "processing": true,
        "serverSide": true,
        "lengthChange": true,
        "searching": true,
    "ordering": true,
  "info": true,
  scrollY: '60vh',
        scrollCollapse: true,
        paging: true,
        "ajax": "vital_list_ajax"
    });
});
</script>