{% extends "base.html" %}
{% block page_title %}患者一覧表{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
{% endblock %}
{% block h1 %}患者一覧表{% endblock %}
{% block lead %}患者が検索できます{% endblock %}
{% block content %}
<div class="container mb-3">
    <table id="datatable" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline">
        <thead>
            <tr>
              <th>ID</th>
              <th>苗字</th>
              <th>名前</th>
              <th>苗字（かな）</th>
              <th>名前（かな）</th>
              <th>生年月日</th>
              <th>性別</th>
              <th>身長</th>
              <th>体重</th>
              <th>電話番号</th>
              <th>住所（都道府県）</th>
              <th>緊急連絡先（電話番号）</th>
              <th>緊急連作先</th>
            </tr>
        </thead>
    </table>
</div>
{% endblock %}
{% block extra_js %}
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready(function() {
    var oTable = $('#datatable').dataTable({
        "processing": true,
        "serverSide": true,
        "ajax": "{% url 'data_tables_view:data_search_ajax' %}"
      });
});
</script>
{% endblock %}
