<!DOCTYPE html>
{% load django_bootstrap5 %}
{% load static %}

<html lang="ja" dir="ltr">

<head>
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="stylesheet" href='{% static "accounts_CSS/login_index.css" %}'/>
  <script src="https://kit.fontawesome.com/7cdaa6eac6.js" crossorigin="anonymous"></script>
  <link href="{% static 'CSS/vital_log.css' %}" rel="stylesheet">

  <meta name="viewport" content="width=device-width,initial-scale=1">

<meta charset="utf-8">
<title>ホーム</title>
</head>

<body>
  <div class="container text-center">
  <div class="row align-items-center">
  <div class="d-grid gap-2 col-6 mx-auto">
  
    <div class="py-1">
    <h1><font color="darkorange">{{ UserID }}</font> さん, ようこそ
    </div>
    <div class="py-3">
    <i class="fa-solid fa-house-medical fa-7x " style='color: rgba(232, 102, 122, 0.675)' ></i>
    </div>


   <div class="py-3">
    <a button type="button" class="btn btn-outline-primary" href= {% url 'vital_input' %}>健康状態を入力する</a>
    </div>

    <div class="py-2">
    <a button type="button" class="btn btn-outline-primary" href = {% url 'vital_log_app:vital_log' %} >今までの健康状態を見る</a>
    </div>


    <div class="py-3">
    <a button type="button" class="btn btn-outline-danger" href={% url 'Logout' %}>ログアウト </a></div>
    </div>
  </div>
  </div>
</body> 
  
</html>