<!DOCTYPE html>
<html lang="ja" dir="ltr">

  <head>
  {% load static %}
  {% load django_bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>新規登録（メディカルヒストリー）</title>
  </head>

  <body class="text-center">
    <main class="form-signin w-50 m-auto">
      <h1 class="h3 mb-3 fw-normal">以下の情報を入力してください</h1>
      <form enctype="multipart/form-data" method="post"">
        <div class="form-floating"></div>
        {{ user_medical_historly_form.as_p }}
        {{ corona_history_form.as_p }}
        {% csrf_token %}
        <input class="w-50 btn btn-lg btn-primary" type="submit" name="" value="登録">

      </form>
    </main>
  </body>
</html>
